# IDE files
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.classpath
.factorypath
.idea
.loadpath
.metadata
.nb-gradle/
.project
.recommenders
.settings/
*-iml
*.iml
buildTool/
dist/
nb-*.xml
nb*
nb*.xml
nbbuild/
nbdist/
nbproject
nbproject/private/
s.vscode/*

# Java files
*.class
.vertx/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
!/.mvn/wrapper/maven-wrapper.jar

### Gradle ###
.gradle
/buildTool/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# Package Files #
*.ear
*.jar
*.nar
*.rar
*.tar.gz
*.war
*.zip

# other
.mtj.tmp/
*.bak
*.ctxt
*.log
*.swp
*.tmp
*~
*~.nib
bin/
hs_err_pid*
tmp/
.vscode
